/*
----------------------------
Articles catalog
-----------------------------
*/
.ArticlesCatalog{
    padding-top: toRem(20);
   background-color: #fff;
    .grid{
        margin: 0 auto;
    }
        .grid-item{
            
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #fafafa;
            width: toRem(316);
            height: toRem(375);
            margin-bottom: toRem(20);
            &:hover{
                .itemImg{
                    background-size: 110% 110%;
                }
            }
           
            &:nth-child(n){
                .itemImg{
                background-image: url(../img/footerFirstCard.png);
            }
            }
            &:nth-child(2n){
                .itemImg{
                background-image: url(../img/footerSecondCard.png);
                }
            }
            &:nth-child(3n){
                .itemImg{
                background-image: url(../img/footerThirdCard.png);
                }
            }
            &:nth-child(4n){
                .itemImg{
                background-image: url(../img/footerFourthCard.png);
                }
            }
            .itemImg{
                background: transparent url(../img/footerFirstCard.png) 50% 50%/cover no-repeat;
                background-size: 100% 100%;
                transition: 0.2s;
                height: toRem(200);
                width: 100%;
                
            }
            .itemTitle{
                padding: 0 toRem(17);
                margin-top: toRem(13);
                @include AlmoniBold(28);
                color: $primaryColorText;
                
            }
            .itemSubtitle{
                padding: 0 toRem(17);
                color: $thirdColorText;
                @include AlmoniRegular(20); 
                flex-grow: 1;
            }
            .more{
                margin-right: toRem(17);
                margin-bottom: toRem(14);
                cursor: pointer;
                @include AlmoniBold(16);
                color: $secondaryColor;
                display: flex;
                align-items: center;
                justify-content: center;
                
                span{
                    margin-left: toRem(15);
                }
            }
        
        }
    }