/*
----------------------------
Small banner
-----------------------------
*/
.sectionSmallBanner{
    z-index: 5;
    width: 100%;
    height: toRem(420);
    background-color: #FAEDF2;
    background: transparent url(../img/bgBanner.png) 50% 50%/cover no-repeat;
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff
    }
    &_title{
        @include AlmoniBold(64);
        position: relative;
        margin-bottom: toRem(10);
        &::after{
            content: "";
            display: block;
            height: toRem(2);
            width: 50px;
            background-color: $secondaryColor;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%,0)
        }
    }
    &_breadcrumbs{
        @include AlmoniRegular(20);
    }
}