/*
----------------------------
Contact us
-----------------------------
*/
.contact-us {
    background-color: #fff;
    padding         : toRem(30) 0;
    border          : none;
    border-bottom   : 1px solid rgba(0, 0, 0, 0.2);

    .sectionInner {
        display       : flex;
        flex-direction: row;
        align-items: flex-start;
         justify-content: flex-start;
    }

    .cuppleImg {
        width      : toRem(604);
        height     : toRem(458);
        background : transparent url(../img/cuppleBG.png) 50% 50%/cover no-repeat;
        margin-left: toRem(20);
    }

    .contact-us_form {
        display        : flex;
        flex-direction : column;
        align-items    : flex-start;
        justify-content: space-between;
        height         : toRem(458);
        width          : toRem(418);
        border         : none;
        border-left    : 1px solid #e1e1e1;
        padding-left   : toRem(20);
        
        @include AlmoniRegular(16);

        .title {
            @include AlmoniBold(32);
        }

        label {
            width         : 100%;
            display       : flex;
            flex-direction: column;
            align-items   : flex-start;

            input,
            textarea {
                box-sizing: border-box;
                width     : 100%;
                @include AlmoniRegular(18);
                padding      : toRem(5);
                border       : 1px solid #e1e1e1;
                outline      : none;
                border-radius: 0;
                margin-top   : toRem(5);
            }

            textarea {
                padding-bottom: 0;
                resize        : none;
                width         : 100%;
                height        : toRem(112);
            }
        }

        .btn {
            width : 100%;
            height: toRem(48);
        }
    }

    .contacts {
        margin-right    : toRem(30);
        color: $primaryColorText;

        .title {
            @include AlmoniBold(24);
            border       : none;
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            width        : 100%;
            height       : toRem(33);
            margin-bottom: toRem(10);

        }

        .phone {

            a {
                color      : inherit;
                font-family: inherit;
            }

            i {
                margin-left: toRem(10);
                font-size  : 15px;
                color      : $secondaryColor;
            }
        }

        .fax {

            a {
                color      : inherit;
                font-family: inherit;
            }

            i {
                margin-left: toRem(10);
                font-size  : toRem(15);
                color      : $secondaryColor;
            }
        }

        .email {

            a {
                color      : inherit;
                font-family: inherit;
            }

            i {
                margin-left: toRem(10);
                font-size  : toRem(15);
                color      : $secondaryColor;
            }
        }

        .workTime {

            .textTitle {
                display: block;
                @include AlmoniBold(20);
            }

            a {
                color      : inherit;
                font-family: inherit;
            }

            i {
                margin-left: toRem(10);
                font-size  : toRem(15);
                color      : $secondaryColor;
            }
        }

        .location {
            i {
                margin-left: toRem(10);
                font-size  : toRem(15);
                color      : $secondaryColor;
            }

            a {
                color      : inherit;
                font-family: inherit;
            }

            .textTitle {
                color  : inherit;
                display: block;
                @include AlmoniBold(20);
            }
        }

        .phone,
        .fax,
        .email,
        .workTime,
        .location,
        .contacts {
            @include AlmoniRegular(20);
            display        : flex;
            flex-direction : row;
            align-items    : baseline;
            justify-content: flex-start;
            line-height    : 1.5;
        }



    }
}