/*
----------------------------
Articles
-----------------------------
*/
.articles{
    height: toRem(524);
    background-color: $primaryBgColor;
    padding: toRem(25) 0 toRem(40) 0;
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &_title{
        color: #fff;
        @include AlmoniBold(42);
    }
    &_list{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &Item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #fff;
            width: toRem(316);
            height: toRem(375);
            &:hover{
                .itemImg{
                    background-size: 110% 110%;
                }
            }
            &:nth-child(4){
                .itemImg{
                    background-image: url(../img/footerFirstCard.png);
            }
            }
            &:nth-child(3){
                .itemImg{
                background-image: url(../img/footerSecondCard.png);
                }
            }
            &:nth-child(2){
                .itemImg{
                background-image: url(../img/footerThirdCard.png);
                }
            }
            &:nth-child(1){
                .itemImg{
                background-image: url(../img/footerFourthCard.png);
                }
            }
            .itemImg{
                height: toRem(200);
                width: 100%;
                background: transparent url(../img/footerFirstCard.png) 50% 50% no-repeat;
                background-size: 100% 100%;
                transition: 0.2s;

            }
            .itemTitle{
                padding: 0 toRem(17);
                margin-top: toRem(13);
                @include AlmoniBold(28);
                color: $primaryColorText;
                
            }
            .itemSubtitle{
                padding: 0 toRem(17);
                color: $thirdColorText;
                @include AlmoniRegular(20); 
                flex-grow: 1;
            }
            .more{
                margin-right: toRem(17);
                margin-bottom: toRem(14);
                cursor: pointer;
                @include AlmoniBold(16);
                color: $secondaryColor;
                display: flex;
                align-items: center;
                justify-content: center;
                
                span{
                    margin-left: toRem(15);
                }
            }
        }
        
    }
}