/*
----------------------------
Testimonials
-----------------------------
*/
.testimonials{
    // height: toRem(477);
    background-color: $primaryBgColor;
    padding: toRem(40) 0 toRem(20) 0;
    .sectionInner{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &_title{
        color: #fff;
        @include AlmoniBold(42);
        margin-bottom: toRem(20);
    }
    &_list{
        width: 70% !important;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        // margin: 0 toRem(50);
        &Item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #fff;
            width: toRem(316);
            height: toRem(335);
            padding: toRem(20);
            
            .itemImg{
                height: toRem(44);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 0 toRem(20) 0;
            }
            .itemText{
                @include AlmoniRegular(20);
                color: $primaryColorText;
                
            }
            .itemAuthor{
                color: $thirdColorText;
                @include AlmoniBold(20); 
                flex-grow: 1;
            }
            
        }
        
    }
}
.swiper1{
    width    : 100%;
    // height: auto;
}

.swiper-slide_1 {
    min-height: 310px;
    max-height: 350px;
}
.swiper-wrapper_1{
    height: auto !important;
    margin-bottom: 55px !important;
}
.swiper1 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 20px !important;
}
.swiper-button-next, .swiper-button-prev{
    top: auto !important;
    bottom: 0;
}

// @media screen and (min-width: 640px) {

//     .swiper-slide {
//         min-height: 335px;
//     }
// }