/*
----------------------------
About services
-----------------------------
*/
.about-services {
    background-color: #fff;
    padding         : toRem(40) 0 toRem(40) 0;
    color           : $primaryColorText;
    // height          : toRem(740);
    

    .sectionInner {
        display       : flex;
        flex-direction: row;
        align-items   : flex-start;
        justify-content  : space-between;

    }

    .title {
        @include AlmoniBold(42);
        margin-bottom: toRem(20);
    }

    .about-services_firstCol {
        padding-left: toRem(25);
        // height      : toRem(648);
        width       : 52%;
        border      : none;

        .text {
            @include AlmoniRegular(24);
            margin-bottom: toRem(30);

            p {
                margin-bottom: toRem(20);
            }
        }

        .btn {
            // width : toRem(160);
            height: toRem(45);
            // display: flex;
            // align-items: center;
            // justify-content: space-evenly;
            // svg {
            //     margin-right: toRem(20);
            // }
        }
    }

    .about-services_secondCol {
        width: 48%;
        // height       : toRem(648);
        padding-right: toRem(45);
        border: none;
        border-right : 1px solid rgba(0, 0, 0, 0.2);

        .title {
            margin-bottom: toRem(20);
        }

        .imgList {
            display       : flex;
            flex-direction: row;
            // width         : 100%;
            flex-wrap     : wrap;
            justify-content: flex-end;

            &-Item {
                width          : toRem(281);
                height         : toRem(180);
                display        : flex;
                align-items    : flex-end;
                justify-content: center;
                color: #fff;
                padding: toRem(22) toRem(47);
                @include AlmoniRegular(20);
                text-align: center;
                transition: 0.2s;
                background   : transparent url(../img/firstCard.png) 50% 50% no-repeat;
                background-size: 100% 100%;
                margin-bottom: toRem(23);
                &:hover{
                    background-size: 110% 110%;
                }

                &:nth-child(2) {
                    background-image: url(../img/firstCard.png);
                }

                &:nth-child(1) {
                    background-image: url(../img/secondCard.png);
                }

                &:nth-child(4) {
                    background-image: url(../img/thirdCard.png);
                }

                &:nth-child(3) {
                    background-image: url(../img/fourthCard.png);
                }

                &:nth-child(6) {
                    background-image: url(../img/fifthCard.png);
                }

                &:nth-child(5) {
                    background-image: url(../img/sixthCard.png);
                }
                &:nth-child(2n){
                    margin: 0 toRem(27) toRem(27) 0;
                }
                &:nth-last-child(2){
                    margin: 0 ;
                }
                &:nth-last-child(1){
                    margin: 0 toRem(27) 0 0;
                }
            }
        }

    }
}