/*
----------------------------
Header
-----------------------------
*/
header {

    position     : absolute;
    top          : 0;
    left         : 0;
    width        : 100%;
    z-index      : 10;
    border       : none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

    .sectionInner {
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;

        height: toRem(80);

    }

    ul {
        list-style: none;
    }

    .btn {
        width       : toRem(126);
        height      : toRem(46);
        margin-right: toRem(40);

    }

    ._nav {
        flex-grow      : 1;
        display        : flex;
        flex-direction : row;
        align-items    : center;
        justify-content: space-between;
        border         : none;

        &Item {
            @include AlmoniRegular(20);
            color: #fff;
            padding: 0 0 15px 0;
        }

        &>li {
            position: relative;
            

            &:hover>ul.sub-menu {
                display: block;
            }

            &>ul.sub-menu {
                background : #080325;
                display    : none;
                line-height: 25px;
                position   : absolute;
                right      : 0;
                top        : 35px;
                width      : 250px;
                z-index    : 1002;

                &>li {
                    position: relative;

                    border: none;
                    border-bottom: 1px solid #fff;
                    &:last-child{
                        border: none;
                    }

                    &>a {
                        padding        : 10px 20px;
                        display        : block;
                        border-top     : 1 px rgba(255, 255, 255, .1) solid;
                        text-decoration: none;
                        font-size      : 18px;
                        color          : #fff;
                    }

                    &:first-child>a {
                        border-top: 0;
                    }
                }
            }
        }

        &>.menu-item-has-children {
            &>a {
                position    : relative;
                padding-left: 17px;
            }

            &:after {
                content    : "\f107";
                font-family: 'FontAwesome';
                position   : absolute;
                left       : 0;
                font-size  : 13px;
                color      : inherit;
                top        : 50%;
                transform  : translate(0, -14px);
            }
        }


    }

    ._logo {
        height     : toRem(59);
        width      : toRem(179);
        background : transparent url(../img/logo.png) 50% 50%/contain no-repeat;
        margin-left: toRem(120);
    }

}

.shrink header {
    position        : fixed;
    background-color: #fff;
    color           : darkblue;

    ._nav {
        &Item {
            color: darkblue;
        }
    }

    ._logo {
        background-image: url(../img/logoDark.png);
    }
}