/*
----------------------------
Articles
-----------------------------
*/
.articles{
    // height: toRem(524);
    background-color: $primaryBgColor;
    padding: toRem(40) 0 toRem(20) 0;
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &_title{
        color: #fff;
        @include AlmoniBold(42);
        margin: 0 0 toRem(20) 0;
    }
    &_list{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &Item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #fff;
            width: toRem(316);
            height: toRem(400);
            padding: toRem(20);
            &:hover{
                .itemImg{
                    background-size: 110% 110%;
                }
            }
            &:nth-child(4){
                .itemImg{
                    background-image: url(../img/footerFirstCard.png);
            }
            }
            &:nth-child(3){
                .itemImg{
                background-image: url(../img/footerSecondCard.png);
                }
            }
            &:nth-child(2){
                .itemImg{
                background-image: url(../img/footerThirdCard.png);
                }
            }
            &:nth-child(1){
                .itemImg{
                background-image: url(../img/footerFourthCard.png);
                }
            }
            .itemImg{
                min-height: toRem(200);
                width: calc(100% + 40px);
                background: transparent url(../img/footerFirstCard.png) 50% 50% no-repeat;
                background-size: 100% 100%;
                transition: 0.2s;
                margin: toRem(-20) toRem(-20) toRem(20) 0;


            }
            .itemTitle{
                @include AlmoniBold(28);
                color: $primaryColorText;
                margin: 0 0 toRem(20) 0;
                flex-grow: 1;
                
            }
            .itemSubtitle{
                color: $thirdColorText;
                @include AlmoniRegular(20); 
                margin: 0 0 toRem(20) 0;
                flex-grow: 1;
            }
            .more{
                cursor: pointer;
                @include AlmoniBold(16);
                color: $secondaryColor;
                display: flex;
                align-items: center;
                justify-content: center;
                
                span{
                    margin-left: toRem(15);
                }
            }
        }
        
    }
}
.swiper2{
    width    : 100%;
    // height: auto;
}
.swiper-slide_2 {
    min-height: 392px;
    max-height: 392px;
}
.swiper-wrapper_2{
    height: auto !important;
    margin-bottom: 50px !important;
}
.swiper2 .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 20px !important;
}