/*
----------------------------
Testimonials
-----------------------------
*/
.testimonials{
    height: toRem(477);
    background-color: $primaryBgColor;
    padding: toRem(25) 0 toRem(40) 0;
    .sectionInner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    &_title{
        color: #fff;
        @include AlmoniBold(42);
    }
    &_list{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &Item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            background-color: #fff;
            width: toRem(316);
            height: toRem(335);
            padding: toRem(20);
            
            .itemImg{
                height: toRem(44);
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                
            }
            .itemText{
                padding: 0 toRem(17);
                margin-top: toRem(13);
                @include AlmoniRegular(20);
                color: $primaryColorText;
                
            }
            .itemAuthor{
                padding: 0 toRem(17);
                color: $thirdColorText;
                @include AlmoniBold(20); 
                flex-grow: 1;
            }
            
        }
        
    }
}