@import 'fonts.scss';
@import 'general.scss';
@import 'sectionHeader.scss'; 
@import 'sectionBanner.scss'; 
// @import 'mobMenu.scss';
// @import 'sectionSmallBanner.scss'; 
// @import 'sectionCatalog.scss'; 
// @import 'sectionCards.scss'; 
// @import 'sectionProduct.scss'; 
// @import 'sectionTitleText.scss'; 
// @import 'sectionOrderForm.scss'; 
// @import 'sectionAbout.scss'; 
// @import 'sectionForm.scss'; 
// @import 'sectionInstagram.scss'; 
// @import 'sectionSubscribe.scss'; 
@import 'sectionAboutServices.scss'; 
@import 'sectionStepsOnline.scss'; 
@import 'sectionTestimonials.scss'; 
@import 'sectionWhyUs.scss'; 
@import 'sectionOtherServices.scss'; 
@import 'sectionArticles.scss'; 
@import 'sectionFooter.scss'; 